@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import "tailwindcss";

/* This enables manual class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

.logo-font {
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
}
.marathi-yatra {
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation-name: scroll-left;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
