@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import "tailwindcss";

/* This enables manual class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

.logo-font {
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
}
.marathi-yatra {
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}


